@import "tailwindcss";
@theme {
  --font-display: "Roboto", "sans-serif";
  --breakpoint-3xl: 1920px;
  --breakpoint-xs: 350px;
  --color-avocado-100: oklch(0.99 0 0);
  --color-bg: #101633;
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}
/* 
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: whitesmoke;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: calc(infinity * 1px);
  background: #ff575b;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #442dd7;
} */
